/*
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}



.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #3586ff;
}

.navbar a{
    color: black;
    font-size: 1.5em;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    margin-right: auto;
}

.navbar .nav-link ul{
    display: flex;
}

.navbar .nav-link ul li{
    margin: 0 20px;
}

.navbar .nav-link ul li.active a{
    color: red;
    font-weight: 600;

}

.navbar .menu-burger{
    display: none;
   position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}


@media screen and (max-width: 900px){
    .navbar{
        padding: 0;
        height: 150px;
    }
    .navbar .menu-burger{
        display: block;
    }
    .navbar .logo{
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .nav-link{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255,255,255,0.299);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav-link.mobile-menu{
        margin-left: 0;
    }

    .nav-link ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-link ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

}




*/


.blue{
    background: #3586ff;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

